.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh; /* fill all height */
  margin: 0 auto; /* center content */

  display: flex;
  align-items: center; /* vertical align */
  justify-content: space-between; /* horizontal align */
 }

 .logon-container section.form {
   width: 100%;
   max-width: 350px;
   margin-right: 30px;
 }

 .logon-container section.form form {
   margin-top: 100px;
 }

 .logon-container section.form h1 {
   font-size: 32px;
   margin-bottom: 32px;
 }

